name: Release API Patch

on:
  pull_request:
    branches:
      - "hotfix/*"

jobs:
  release:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout application
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: release patch
        if: ${{ github.event.pull_request.merged }}
        run: |
          npm install
          npm run release -- patch --ci


